*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: #5E8B7E;
}
/* Container */
.container{
    max-width: 1110px;
    margin: auto;
    padding: 0 2rem;
}

/* main section styles */
#main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

#text,
#image{
    padding: 2rem;
}

#image img{ 
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3rem 0 3rem 0;
}

#text h4{
    font-size: 3rem;
}

#text h1{
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    color : #064420;
}

p,h2,h1,h4{
    margin-top: 1rem;
}

/* Media Queries */
@media screen and (max-width:768px){
    #main{
        flex-direction: column;
    }
    #text h4{
        font-size: 2rem;
    }
    #text h1{
        font-family: 'Dancing Script', cursive;
        font-size: 4rem;
        color : #064420;
    }
}